// root variables
:root {
  color-scheme: light;

  --app-page-bg: #fff;
  --app-title-color: #030303;
}

:root.dark {
  color-scheme: dark;

  --app-page-bg: #1e1e1e;
  --app-title-color: #fdfdfd;
}
